<table class="table">
  <% if @drafts.count == 0 %>
    <tr class= "bg-light-yellow">
      <th>Have no drafts at present.<th>
    </tr>
  <% else %>
    <% @drafts.each do |draft| %>
    <tr class="bg-light-yellow">
      <th><%= link_to draft.title, post_path(draft) %></th>
      <td>draft</td>
      <td><%= draft.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td>
        <%= render partial: 'shared/post-edit-btn', locals: {post: draft} %>
      </td>
    </tr>
    <% end %>
    <%= paginate @drafts %>
  <% end %>
</table>