<div class="bg-light-yellow">
  <% @replies.each do |reply| %>
    <div class="my-comment-div">
      <h5><%= link_to reply.post.title, post_path(reply.post) %></h5>
      <div class="form-inline">
        <textarea class="form-control comment-area"><%= reply.comment %></textarea>
        <div class="comment-edit">
          <%= fa_icon 'edit', style: 'font-size: 25px;' %> 
          <%= fa_icon 'times', style: 'border: 2px solid #000; border-radius: 3px; padding: 2px 4px;' %>  
        </div> 
      </div>  
    </div>
  <% end %>
</div>
