@import 'bootstrap';
@import 'font-awesome';
@import 'style';


.clearfix {
  clear: both;
}

.margin-down-50 {
  margin-top: 50px;
}

.page-title-h1 {
  font-size: 60px;
}

.btn-margin-left {
  margin-left: 5px;
}

.select {
  height: 30px;
}