@import 'bootstrap';
@import 'font-awesome';
@import 'style';
@import 'users';
@import 'posts';


.clearfix {
  clear: both;
}

.margin-top-50 {
  margin-top: 50px;
}

.page-title-h1 {
  font-size: 60px;
}

.btn-margin-left {
  margin-left: 5px;
}

.select {
  height: 30px;
}

.de-height {
  height: auto;
}

.col-form-label {
  font-size: larger;
}

.weight-700 {
  font-weight: 700;
}

.alert {
  margin-bottom: 0;
}

.form-control-file {
  width: 240px;
}

.inline-blk {
  display: inline-block;
  width: 150px;
}

.index-badge {
  background-color: #e7ecef;
  color: #81888e;
}

.index-badge[href]:hover, {
  background-color: #a9b8c7;
  color: #fff;
  text-decoration: none;
}