
/****** Navbar *******/

.navbar a:hover {
  color: #fff;
}

#navbarText li > a {
  color: white;
  margin-right: 10px;
}

.dropdown-menu a {
  color: #000!important;
}

.new-post {
  border: 1px solid #fff;
  border-radius: 10px;
}

/******* Post Index ********/

.thin-font th {
  font-size: 15px;
  font-weight: 400;
}

.category-tag {
  margin: 10px 5px;
  background-color: #fff;
  border: 1px solid #17a2b8;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 18px 3px;
  transition: box-shadow .3s;
}

.category-tag:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.page-link {
  color: #18a2b8;
  border: 1px solid #18a2b8;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #18a2b8;
  border-color: #18a2b8;
}

.page-item.disabled .page-link {
  border-color: #18a2b8;
}

.page-item:hover .page-link {
  border-color: #17d0ea;
  background-color: #17d0ea;
  color: #fff; 
}

/****** Admin Panel Page *******/

.nav-link.active {
  border-bottom: 1px solid #5d7594;
  color: #5d7594;
}

.panel-page-inactive {
  color: #8fb4e5;
}

.panel-page-inactive:hover {
  color: #5d7594;
}
