
/****** Navbar *******/

.navbar a:hover {
  color: #fff;
}

#navbarText li > a {
  color: white;
}

.dropdown-menu a {
  color: #000!important;
}

/******* Post Index ********/

.thin-font th {
  font-size: 15px;
  font-weight: 400;
}

.category-tag {
  margin: 10px 5px;
  background-color: #fff;
  border: 1px solid #17a2b8;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 18px 3px;
  transition: box-shadow .3s;
}

.category-tag:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

