// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  background-color: #e2fbff;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: #fff9e6;
}

.nav-tabs .nav-link {
  color: #495057;
}

.bg-light-yellow {
  background-color: #fff9e6;
}

.bg-dark-yellow {
  background-color: #ffedb5;
}

.my-comment-div {
  padding: 20px 50px;
  width: 80%;
}

.comment-edit {
  float: right;
  padding: 10px 10px;
  border: 1px solid #495057;
  border-radius: 0.5rem;
  background-color: #fff;
}

.comment-edit i {
  margin: 0 5px;
}

.user-comment-area {
  display: block;
  min-height: 8rem;
  padding: 0.75rem 1rem;
  color: #495057;
  border: 1px solid #495057;
  border-radius: 0.25rem;
  background-color: #fff;
}